*$py.class
*.bak
*.cover
*.egg
*.egg-info
*.egg-info/
*.enc
*.log
*.manifest
*.mo
*.orig
*.pot
*.py.cover
*.py[cod]
*.py[codz]
*.pyc
*.pyo
*.rej
*.sage.py
*.so
*.spec
*.sqlite3
*.sqlite3-journal
*~
.DS_Store
.Python
.abstra/
.cache
.claude
.coverage
.coverage.*
.cursorignore
.cursorindexingignore
.dmypy.json
.eggs/
.env
.envrc
.hypothesis/
.idea
.installed.cfg
.ipynb_checkpoints
.keys
.mypy_cache/
.nox/
.pdm-build/
.pdm-python
.pixi
.pybuilder/
.pypirc
.pyre/
.pytest_cache
.pytest_cache/
.python-version
.pytype/
.ropeproject
.ruff_cache/
.scrapy
.spyderproject
.spyproject
.tags
.tags.mk
.tox/
.venv
.vscode
.webassets-cache
/site
ENV/
MANIFEST
__marimo__/
__pycache__/
__pypackages__/
archive
bdist
bioutils/_data/assemblies/pull
build
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
cython_debug/
develop-eggs/
dist/
dmypy.json
doc*/changelog/*/.tags
doc*/changelog/*/.tags.mk
doc/_build
doc/build
doc/changelog/*/.tags
doc/changelog/*/.tags.mk
doc/changelog/*/hg-git-remap.pl
docs/_build/
docs/source
downloads/
eggs/
env.bak/
env/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
marimo/_lsp/
marimo/_static/
misc
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
sdist/
share/python-wheels/
target/
tmp/
var/
venv.bak/
venv/
wheels/
