*.bak
*.cache
*.egg
*.egg-info
*.err
*.fai
*.log
*.orig
*.pyc
*.pylint
*.pyo
*.sqlite3
*.tar.gz
*~
.*.conf.mk
.DS_Store
.Python
.coverage
.eggs/**
.idea
.installed.cfg
.ipynb_checkpoints
.tags
.tags.mk
.tox
^examples/.+\.rst
archive
bdist
build
cover
dist
doc/build
examples/*_files
examples/.ipynb_checkpoints
hgvs.dot
hgvs.sfood
hgvs.svg
misc/361-new-tests/hgvs4variation.txt.gz
misc/clinvar-test-variants/clinvar-groups.gz
misc/clinvar-test-variants/clinvar-shuffle
misc/clinvar-test-variants/hgvs4variation.txt.gz
misc/data
misc/exon-str-cmp
misc/experimental
misc/figures/mapping-tools.svg
misc/figures/object-diagram.svg
misc/missing
misc/railroad/*_grammar
misc/railroad/hgvs.ebnf
misc/railroad/hgvs.pymeta
misc/railroad/hgvs_railroad
misc/railroad/hgvs_railroad.rst
misc/tests
misc/tx-ref-discrepancies
sdist
tests/data/*.out
tmp
venv*
workspace
