*.bak
*.cache
*.egg
*.egg-info
*.err
*.fai
*.log
*.orig
*.pyc
*.pylint
*.pyo
*.rej
*.sqlite3
*.tar.gz
*~
.*.conf.mk
.DS_Store
.Python
.coverage
.eggs/**
.idea
.installed.cfg
.ipynb_checkpoints
.pytest_cache
.tags
.tags.mk
.tox
.vscode
^examples/.+\.rst
archive
bdist
build
cover
dist
doc/build
examples/*_files
examples/.ipynb_checkpoints
hg-git-remap.pl
hgvs.dot
hgvs.sfood
hgvs.svg
misc
prof
sdist
tests/data/*.out
tmp
venv*
workspace
