# This is used by Git to consolidate the users who used multiple accounts
# I pick the account with the most modified files in git shortlog -sne
Reece Hart <reecehart@gmail.com> Reece Hart <reece@biocommons.org>
Reece Hart <reecehart@gmail.com> Reece Hart <reece@biocmmons.org>
Rudy Rico <rudy.rico@invitae.com> Rudolph Rico <rudy.rico@invitae.com>
Meng <wangm0855@gmail.com> Meng Wang <wangm0855@gmail.com>
Andreas Prlic <andreas.prlic@invitae.com> Andreas Prlic <andreas.prlic@gmail.com>
Andreas Prlic <andreas.prlic@invitae.com> Andreas Prlic <36012160+andreas-invitae@users.noreply.github.com>
Caitlin Gong <ccaitlingo@gmail.com> Caitlin Gong <clgong@vassar.edu>
Katie Stahl <kathryn.stahl@nationwidechildrens.org> katie stahl <kathryn.stahl@nationwidechildrens.org>
Manuel Holtgrewe <manuel.holtgrewe@bih-charite.de> Manuel Holtgrewe <manuel.holtgrewe@bihealth.de>
